.c_menuItem-container
{
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 100%;

    justify-content: start;
    gap: 10px;
    align-items: center;

    border-radius: 5px;
    padding: 10px;

    cursor: pointer;
}

.selected {
  background: linear-gradient(90deg, rgba(73, 140, 134, 1) 0%, rgba(144, 166, 128, 1) 100%);
  color: var(--color-blanco-1);
  transition: all 0.6s ease;
}

.selected:hover {
  filter: brightness(0.9);
}

.noSelect
{
    background-color: white;
}

.noSelect:hover
{
    filter: brightness(0.8);
}

@media (width <= 600px) {
    .c_menuItem-container
    {
      min-width: 50px;
      max-width: 100px;
    }
}