.s_admin-pantalla-incidente{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 100dvh;
    background-color: #eeea;
}
.admin-incidente-info{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.admin-info-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.admin-info-header>h1{
    font-size: 2em;
}
.admin-info-header>span{
    padding: 5px 15px;
    border-radius: 5px;
}
.admin-info-table{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.admin-table-box{
    overflow: auto;
}
.admin-table-box>table{
    background-color: #fff;
    border-collapse: collapse;
    border-radius: 5px;
    width: 100%;
}
.admin-table-box>table>tbody>tr>td:first-child{
    font-weight: bold;
    color: #999;
}
.admin-table-box>table>tbody>tr>td{
    padding: 15px;
    border: 2px solid #eee;
}
.admin-info-images{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.admin-images-box{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.admin-images-box>div{
    width: 150px;
    height: 150px;
}
.admin-images-box>div>img{
    width: 100%;
    height: inherit;
    object-fit: cover;
}
.admin-images-box>div>video{
    width: 100%;
    height: inherit;
    object-fit: cover;
}

/* Segunda columna */

.admin-incidente-more{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    flex: 1;
    background-color: #fff;
}
.admin-info-box{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
    border-bottom: 1px solid #000;
}
.admin-info-box-section{
    gap: 30px;
}
.admin-info-residente{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.admin-box-asignar{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.admin-asignar-avatar{
    border-radius: 100%;
    width: 100px;
    height: 100px;
}
.admin-asignar-avatar>img{
    width: 100%;
    height: inherit;
    object-fit: cover;
    border-radius: 100%;
}
.admin-asignar-personal{
    flex: 1;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.admin-box-asignar>button{
    padding: 10px 30px;
    background-color: var(--bg-color-main);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}