.s_incidente-form{
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.incidente-form{
    width: 80%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
    gap: 60px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 5px var(--color-border);
}
.incidente-form-header{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}
.incidente-form-header>h5{
    font-weight: 500;
}
.incidente-form-campos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.incidente-campos-textarea{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.incidente-campos-textarea>label{
    font-weight: bold;
}
.incidente-campos-textarea>textarea{
    padding: 7px 7px 30px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid var(--color-border);
}
.incidente-campos-textarea>textarea:focus{
    outline: 2px solid var(--bg-color-main);
}
.incidente-campos-textarea>textarea::placeholder{
    font-style: italic;
}
.incidente-campos-select{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}
.incidente-form-btn{
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: var(--bg-color-main-op);
    color: var(--color-letter-light);
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}
.incidente-form-btn:hover{
    background-color: var(--bg-color-main);
}
@media screen and (width<=600px) {
    
.incidente-form{
    width: 100%;
    padding: 40px ;
}
}