.s_ticket-page {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #eee;
  min-height: 100dvh;
  gap: 30px;
  padding: 30px 0;
}
.s_ticket-page-details {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 20px;
}
.s_ticket-page-details > article {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  gap: 20px;
}
.s_ticket-details-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.s_ticket-details-header > span {
  text-transform: capitalize;
  padding: 7px 15px;
  border-radius: 15px;
}
.s_ticket-details-info {
  display: flex;
  flex-direction: column;
}
.ticket-info-c1 {
  display: flex;
  gap: 10px;
}
.ticket-info-c1 > div {
  flex: 1;
}
.ticket-info-c3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ticket-info-c3-images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}
.ticket-info-image {
  height: 150px;
}
.ticket-info-image > video {
  width: 100%;
  height: inherit;
  object-fit: cover;
}
.ticket-info-image > img {
  width: 100%;
  height: inherit;
  object-fit: cover;
}

/* Segunda columna */
.s_ticket-page-progression {
  display: flex;
  flex-direction: column;
  width: 25%;
  gap: 20px;
}
.s_ticket-page-progression > article {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 30px;
  background-color: #fff;
  border-radius: 15px;
}
.ticket-state-c1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #0f01;
  border: 1px solid #0f05;
}
.ticket-state-icon {
  font-size: 1.5em;
  border-radius: 30px;
  padding: 10px;
}

.estado-rojo {
  color: #c91d12;
  background-color: #ed524955;
  border: 1px solid #c91d12;
}
.estado-verde {
  background-color: #0f05;
  color: green;
  border: 1px solid green;
}
.estado-naranja {
  color: #ffa600;
  background-color: #ffc65c55;
  border: 1px solid #ffa600;
}
.estado-pendiente {
  color: #000;
  background-color: #ddda;
  border: 1px solid #000;
}


@media screen and (width<=1100px) {
  .s_ticket-page-details {
    width: 95%;
  }
  .s_ticket-page-progression {
    width: 95%;
  }
  .ticket-info-image > img {
    width: 100%;
    height: inherit;
    object-fit: contain;
  }
}
