.c_cardMessage
{
    min-width: 100px;
    max-width: 400px;

    min-height: 50px;
    max-height: 500px;

    margin: 5px;
    padding: 5px;

    border-radius: 10px;
    display: flex;

    justify-content: center;
    align-items: center;
    
}