.c_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.c_modal-Container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    min-width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 10px;
}