.s_admin-registrar-visita {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px;
  width: 65%;
  margin: 0 auto;
  background-color: #ddddddaa;
  border-radius: 15px;
}
.admin-registrar-visita-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  gap: 20px;
}
.visita-form-campos {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}
.visita-form-asunto{
    width: 100%;
    color: #888;
}
.visita-form-asunto>label{
    padding: 5px;
}
.visita-form-asunto>textarea{
    display: block;
    width: 100%;
    padding: 10px 10px 40px;
    font-family: sans-serif;
    color: #333;
    resize: none;
}
#s_admin-visita-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--color-verde);
  color: #fff;
  border: none;
  transition: background-color 0.2s ease-in-out;
}
#s_admin-visita-btn:hover {
  background-color: var(--color-verde);
  color: #fff;
}

@media screen and (width<=1000px) {
  .s_admin-registrar-visita {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  .admin-registrar-visita-form {
    width: 300px;
  }
  .admin-registrar-visita-form-campos {
    width: auto;
  }
}
