.container-card {
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #fffa;
  border-radius: 15px;
}
.card-imagen {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
.card-imagen>img{
  width: 100%;
  height: 150px;
}
.card-usuario {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  margin: 0 60px 0 20px;
}
.card-usuario-datos > h3 {
  font-weight: 500;
}
.card-usuario-datos > h4 {
  font-weight: 300;
}
.card-usuario-registro {
  display: flex;
  gap: 15px;
  user-select: none;
}
.card-usuario-registro > span {
  background-color: var(--color-verde);
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
}
.card-usuario-opciones {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.btn-opcion-modal {
  width: 100%;
}
@media screen and (width<=940px) {
  .container-card {
    max-width: 450px;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .card-imagen{
    width: 400px;
    height: 300px;
  }
  .card-imagen>img{
    height: inherit;
    object-fit: contain;
  }
  .card-usuario{
    margin: 20px 0;
  }
  .card-usuario-registro {
    display: flex;
    gap: 5px;
  }
  .card-imagen {
    width: 100%;
  }
  .card-usuario-opciones{
    flex-direction: row;
    flex-wrap: wrap;
  }
}
