.c_titulo
{
    width: 100%;

    display: flex;
    flex-direction: column;
    margin: 10px auto;
}

.c_cardContent
{
    width: 90%;

    background-color: white;
    border-radius: 10px;
    padding: 10px;

    display: flex;

    flex-direction: column;
    align-items: start;

    margin: 0 auto;
    
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
}