#root {
  /* max-width: 1280px; */
  /* margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}

.content-container
{
  width: 100%;
  min-width: 400px;

  height: 100%;
  min-height: 100px;
  /* padding-top: 0; */
  background-color: var(--color-plomo-3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
