.nav {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  padding: 20px;
  align-items: center;
  background-color: #fff;
}
.nav > div {
  display: flex;
  align-items: center;
  flex: 1;
}
#nav-icon{
  background-color: var(--bg-icons-light);
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.nav-logo {
  justify-content: center;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 10px;
  flex: 2;
}
.nav-list-container {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
  gap: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.nav-list-container > i {
  font-size: 20px;
}
.nav-list-container:hover {
  background-color: var(--bg-color-main);
  color: #fff;
}
.nav-options {
    justify-content: center;
  gap: 20px;
}
.nav-options>i{
  padding: 10px;
  border-radius: 30px;
  font-size: 20px;
  cursor: pointer;
}
.nav-options-option{
  background-color: var(--bg-icons-light);
}
.nav-options-avatar{
  background-color: var(--bg-color-main);
  color: #fff;
}
.nav-options-logout{
  border-radius: 10px !important;
  background-color: var(--bg-urgente);
}

/* .nav-options-avatar {
  display: flex;
  gap: 5px;
  padding: 10px;
  border-radius: 100%;
  cursor: pointer;
  align-items: center;
  background: var(--bg-color-main);
} */


@media screen and (width<=1100px) {
  .nav {
    padding: 20px 10px;
    justify-content: space-around;
  }
  .nav > div {
    flex: 0;
  }
  #nav-icon{
    display: block;
    z-index: 10;
  }
  .nav-list {
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 0;
    justify-content: start;
    align-items: start;
    min-height: 100dvh;
    background-color: #fff;
    padding: 100px 30px 0 10px;
    transform: translateX(-100%);
    transition: transform 0.2s ease-in;
  }
  .nav-list-container {
    align-items: center;
    font-size: 1.1em;
  }
  .nav-list-container:hover {
    background-color: transparent;
    color: #000;
  }
  .nav-list-container:hover.nav-list-container > li {
    text-decoration: underline;
  }
  .nav-options {
    justify-content: end;
    gap: 15px;
  }

  .nav-list-appear {
    transform: translateX(0);
  }
}
